@import "tailwindcss";



@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-circular: "circular-web";
  --font-general: "general";
  --font-robert-medium: "robert-medium";
  --font-robert-regular: "robert-regular";
  --color-blue50: #26CCC2;
  --color-blue75: #DFDFF2;
  --color-blue100: #F0F2FA;
  --color-blue200: #010101;
  --color-blue300: #4FB7BD;
  --color-violet300: #5724FF;
  --color-yellow100: #8E983F;
  --color-yellow300: #EDFF66; 
}

body {
  font-family: var(--font-general);
  width: 100dvw;
  background-color: #dfdff0;
  overflow-x: hidden;
}

@font-face {
  font-family: "circular-web";
  src: url("/awwwards/fonts/circularweb-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "general";
  src: url("/awwwards/fonts/general.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "robert-medium";
  src: url("/awwwards/fonts/robert-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "robert-regular";
  src: url("/awwwards/fonts/robert-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-circular { font-family: var(--font-circular); }
.font-general { font-family: var(--font-general); }
.font-robert-medium { font-family: var(--font-robert-medium); }
.font-robert-regular { font-family: var(--font-robert-regular); }